// Flatly 5.3.2
// Bootswatch

//$theme: "flatly" !default;

/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/brusher');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
